@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Montserrat');

html, body
{
  margin: 40px;
  padding: 0px;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  background-color: #fff;
}
header, footer
{
  position: fixed;
  left: 0px;
  z-index: 10;
  width: 100%;
  background-color: #ff7921;
  padding-left: 20px;
  padding-right: 20px;
}
header
{
  top: 0px;
  height: 80px;
}
.title-flamintech
{
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 15;
  font-size: 50px;
  margin: 0px;
  color: #FFF;
}
nav
{
  position: relative;
  right: 20px;
  top: 40px;
}
ul
{
  list-style: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}
li
{
  float: right;
  padding: 0px;
}
li a
{
  display: block;
  line-height: 2em;
  color: white;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
}
.navigation a:hover
{
  background: #fc6200;
  color: #ffe7db;
}

.contact-container
{
  margin-top: 75px;
  text-align: center;
}
.email-button
{
  height:auto;
  width:auto;
  left: 50%;
  top: 50%;
}

footer
{
  bottom: 0px;
  height: 20px;
  background-color: #ff7921;
}
.footnote
{
  text-align: center;
  font-size:15px;
  color: #fff;
}
